@import "tailwindcss";

@theme {
  --color-primary: #b45309;
  --color-primary-light: #d97706;
  --color-primary-dark: #92400e;
  --color-dark: #1c1917;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", Arial, sans-serif;
  color: #1c1917;
  background: #ffffff;
}
